@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200');
body {
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  color: #3884c9
}

html body {
  background-color: #dddddd;
}

 /* @media (max-width: 900px ) {
  .calc {
    width: 50% !important;
  }
} */



.btn-primary{
  width: 100%;
  padding: 3px !important;
}

.expression {
  border:1px solid black;
  width:90%;
  height: 35px;
  margin: 0 auto;
  margin-top: 5px;
  color: #007bff;
  font-weight: 800;
}

.text {
  text-align: left;
}

.calc {
  border:1px solid black;
  width:100%;
  max-width: 328px;
  margin: 0 auto;
}

.row {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.off{
  font-size: 14px;
  height: 35px;
}
